# Ignore every file...
*

# ...except the files below
!.gitignore
!README.md
!Makefile
!.ocamlformat

!Main.ml

!Lexer.mll
!Lexer.mli

!Parser.mly
!Ast.ml

!Symbol.ml
!Symbol.mli
!Types.ml
!Types.mli
