# Ignore every file...
*

# ...except the files below
!.gitignore
!grace2023.pdf
!README.md
!Makefile
!.ocamlformat
!*.messages

!Error.ml
!Error.mli

!Main.ml

!Lexer.mll
!Lexer.mli

!Parser.mly
!Ast.ml
!Ast.mli

!Symbol.ml
!Symbol.mli
!Types.ml
!Types.mli

!GenAst.mli

!PrintAst.ml
!PrintAst.mli
!SemAst.ml
!SemAst.mli
!GenAst.ml

!lib
!lib.c
!buildlib.sh

!test_programs.sh
