# To format an ocaml file (.ml) manualy, execute the command below in the file's directory:
# > ocamlformat -i <file-name>

profile = default
version = 0.26.0

break-before-in = fit-or-vertical

doc-comments = before
exp-grouping = preserve

extension-indent = 2
field-space = loose
function-indent = 2
function-indent-nested = always

if-then-else = fit-or-vertical
indicate-nested-or-patterns = space

let-and = sparse

line-endings = crlf

type-decl = sparse
type-decl-indent = 2
